* {
	font-family: 'Noto Sans', sans-serif !important;
	  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* nav */
.mainNav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #fff;
    border-bottom: 2px solid #f88860;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.mainNav > .logo {
    display: inline-block;
    max-width: 80px;
    box-sizing: border-box;
}

.mainNav > .logo > a {
    display: inline-block;
}

.mainNav > .logo > a img {
    max-width: 100%;
    max-width: 47px;
}

.mainNav > .voices,
.mainNav > .voices li,
.mainNav > .voices li a {
    display: flex;
    align-items: center
}

.mainNav > .voices ul {
    list-style-type: none;
    display: flex;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.mainNav .voices .openmodal {
	background-color: #f88860;
	color:#fff;
	padding:5px 10px;
	border-radius: 3px;
	margin-right: 20px;
	font-size: 16px;
	box-sizing: border-box;
	cursor: pointer;
}

.mainNav .voices a {
    color: #f88860;
    text-decoration: none;
}

.RoundImage {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

/* Bandiere */

.bandiere img ~ img{
	margin-right: 15px;
}

.bandiere div {
	margin-left: 15px;
	background-color: #ff4c2b;
    padding: 15px;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.bandiere {
	display: flex;
	background-color: #f5f5f5;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px;
	flex-direction: row-reverse;
}

/* Proposta Da Accettare */

.proposta_da_accettare.card {
	margin-top: 20px;
}

.proposta_da_accettare.card .row:last-child {
	margin-left: -15px;
	margin-bottom: -15px;
}
.proposta_da_accettare.card .row:last-child button{
	padding-top:15px;
	font-size: 22px;
	cursor: pointer;
	padding-bottom: 15px;
	width: 100%;
	height: 100%;
	background-color: #22edc5;
}

.proposta_da_accettare.card .row:last-child button:last-child{
	background-color: #ff4c2b
}


/* Proposte Proprie*/

.proposte_proprie {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.proposta_propria{
    background-color: aquamarine;
    width: 31%;
    padding: 5px;
	margin: 0 1% 1% 1%;
	box-sizing: border-box;
}

/* tab button*/

.tab {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}

.tab button{
	cursor:pointer;
	background-color: #fff;
	border: 2px solid #22edc5;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 8px;
	width:45%;
	font-size: 17px;
	box-sizing: border-box;
}
.tab button.active{
	background-color: #22edc5;
}

/* Contenuto Tabs*/

.tabcontent {
	display: none;
	padding-top: 15px;
}

.tabcontent.visible{
	display: block;
}

/* Proposte Partecipate */


.card ~ .card {
    margin-top: 40px;
}

.card {
    display: flex;
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
}

.card > .left {
    width: 100%;
    max-width: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card > .right {
    border-right: 3px solid #ff4c2b;
    width: 100%;
    padding: 15px 0 15px 15px;
}

.card .row {
    display: flex;
    align-items: center;
}

.card .row h3 {
    padding-left: 20px;
}

.card h3::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #22edc5;
    margin-left: -20px;
}

.card .data {
    background-color: brown;
    display: flex;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card .data time {
    width: 75px;
    text-align: center;
    background-color: #ff4c2b;
    border-top: solid #ff4c2b;
    border-bottom: solid #ff4c2b;
}

.card .data time:first-child {
    background-color: white;
    border-left: solid #ff4c2b;
}

.card .right .row:first-child {
    justify-content: space-between;
}

.card .right .row:nth-child(2) {
    justify-content: space-between;
}

.card .right .row:nth-child(2) .descrizione{
    width: auto;
}

.card .right .row:nth-child(2) .descrizione > p{
    padding: 0 20px;
    font-size: 15px;
    line-height: 130%;
}

.proponente{
    min-width: 153px;
    text-align: center;
}

.card .right .row:nth-child(2) img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.card .right .row:nth-child(3) {
    justify-content: space-around;
    align-items: center;
}

.card .right .row:nth-child(3) p {
    font-size: 19px;
}

.card .right .row:nth-child(3) div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card .right .row:nth-child(3) img {
    height: 30px;
    width: 30px;
}

.card .right .row .proponente a {
    text-decoration: none;
    font-weight: 700;
    text-decoration-color: black;
    color: black;
}

.card .right .row .proponente .nome {
	padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.immagine {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #ccc;
}

.card .right .row:last-child {
    justify-content: space-evenly;
}

.card .right .row:last-child input{
    font-weight: 700;
    cursor:pointer;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
}

.card .right .row:last-child form {
    width: 100%;
    height: 100%;
}

/* modal */
.modal{
	display: none;
	z-index: 999;
	background-color: rgba(0,0,0,.7);
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
}
.modal.visible{
	display: flex;
}
.modal__content{
	width: 100%;
	max-width: 1000px;
	background-color: #fff;
	border:2px solid #eaeaea;
	border-radius: 5px;
}

.preventScroll {
	overflow: hidden;
}

/* Image Upload*/

.cambioimmagine {
	padding: 15px;
	text-align: center;
}

input[type=file] {
	display: none;
}

.upload {
	border: solid 1px #909090;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

#buttons input {
	cursor: pointer;
	border: solid 2px #909090;
	border-radius: 3px;
	height: 40px;
	width: 80px;
}

.immagine_modal {
	width: 20px;
	height: 20px;
}


/* Partecipanti Modale*/

.modal__content ul {
	list-style: none;
}
