* {
	font-family: 'Noto Sans', sans-serif !important;
}


/* Bandiere */

.bandiere img ~ img{
	margin-right: 15px;
}

.bandiere div {
	margin-left: 15px;
	background-color: #ff4c2b;
    padding: 15px;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.bandiere {
	display: flex;
	background-color: #f5f5f5;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 15px;
	flex-direction: row-reverse;
}

/* Proposta Da Accettare */

.titolo_sezione {
	text-align: center;
}

.proposta_da_accettare.card {
	margin-top: 20px;
}

.proposta_da_accettare.card .row:last-child {
	margin-left: -15px;
	margin-bottom: -15px;
}
.proposta_da_accettare.card .row:last-child button{
	padding-top:15px;
	font-size: 22px;
	cursor: pointer;
	padding-bottom: 15px;
	width: 100%;
	height: 100%;
	background-color: #22edc5;
}

.proposta_da_accettare.card .row:last-child button:last-child{
	background-color: #ff4c2b
}


/* Proposte Proprie*/

.proposte_proprie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.proposta_propria{
    background-color: #f7f7f7;
    width: 31%;
    padding: 5px;
    margin: 0 1% 1% 1%;
    box-sizing: border-box;
    border-radius: 3px;
    border-right: 3px solid #ff4c2b;
    display: flex;
    flex-direction: column;
}

.proposta_propria .rows:first-child {
	justify-content: space-between;
	display: flex;
	margin-right: -5px;
	align-items: center;
}

.proposta_propria h3 {
	margin-left: 23px;
}

.proposta_propria h3::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	background-color: #22edc5;
	margin-left: -20px;
}

.proposta_propria .rows:first-child .data {
	overflow: hidden;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px;
}

.proposta_propria .rows:first-child div {
	width: 75px;
	text-align: center;
	background-color: white;
	border-top: solid #ff4c2b;
	border-bottom: solid #ff4c2b;
	border-left: solid #ff4c2b;
}

.proposta_propria .rows:nth-child(2) {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.proposta_propria .rows:nth-child(2) img {
	width: 100%;
	height: 100%;
	max-width: 30px;
	max-height: 30px;
	margin: 0 auto;
}

.proposta_propria .rows:nth-child(2) div {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.proposta_propria .rows:last-child {
    background-color: #22edc5;
    margin: 0 -5px -5px -5px;
    height: 25px;
    border-bottom-left-radius: 3px;
    margin-top: auto;
}

.proposta_propria .rows:last-child button {
	cursor: pointer;
    height: 100%;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
}

.partecipanti, .immagine_modal {
	cursor: pointer;
}
	
/* tab button*/

.tab {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}

.tab button{
	cursor:pointer;
	background-color: #fff;
	border: 2px solid #22edc5;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 8px;
	width:45%;
	font-size: 17px;
	box-sizing: border-box;
}
.tab button.active{
	background-color: #22edc5;
}

/* Contenuto Tabs*/

.tabcontent {
	display: none;
	padding-top: 15px;
}

.tabcontent.visible{
	display: block;
}

/* Proposte Partecipate */


.card ~ .card {
    margin-top: 40px;
}

.card {
    display: flex;
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
}

.card > .left {
    width: 100%;
    max-width: 280px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card > .right {
    border-right: 3px solid #ff4c2b;
    width: 100%;
    padding: 15px 0 15px 15px;
}

.card .row {
    display: flex;
    align-items: center;
}

.card .row h3 {
    padding-left: 20px;
}

.card h3::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #22edc5;
    margin-left: -20px;
}

.card .data {
    background-color: brown;
    display: flex;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card .data div {
    width: 75px;
    text-align: center;
    background-color: #ff4c2b;
    border-top: solid #ff4c2b;
    border-bottom: solid #ff4c2b;
}

.card .data div:first-child {
    background-color: white;
    border-left: solid #ff4c2b;
}

.card .right .row:first-child {
    justify-content: space-between;
}

.card .right .row:nth-child(2) {
    justify-content: space-between;
}

.card .right .row:nth-child(2) .descrizione{
    width: auto;
}

.card .right .row:nth-child(2) .descrizione > p{
    padding: 0 20px;
    font-size: 15px;
    line-height: 130%;
}

.proponente{
    min-width: 153px;
    text-align: center;
}

.card .right .row:nth-child(2) img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.card .right .row:nth-child(3) {
    justify-content: space-around;
    align-items: center;
}

.card .right .row:nth-child(3) p {
    font-size: 19px;
}

.card .right .row:nth-child(3) div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card .right .row:nth-child(3) img {
    height: 30px;
    width: 30px;
}

.card .right .row .proponente a {
    text-decoration: none;
    font-weight: 700;
    text-decoration-color: black;
    color: black;
}

.card .right .row .proponente .nome {
	padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.immagine {
    border-radius: 30px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid #ccc;
}

.card .right .row:last-child {
    justify-content: space-evenly;
}

.card .right .row:last-child input{
    font-weight: 700;
    cursor:pointer;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
}

.card .right .row:last-child form {
    width: 100%;
    height: 100%;
}

/* modal */
.modal{
	display: none;
	z-index: 999;
	background-color: rgba(0,0,0,.7);
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
}
.modal.visible{
	display: flex;
}
.modal__content{
	width: 100%;
	max-width: 1000px;
	background-color: #fff;
	border:2px solid #eaeaea;
	border-radius: 5px;
}

.preventScroll {
	overflow: hidden;
}


/* Image Upload*/

.cambioimmagine {
	padding: 15px;
	text-align: center;
}

input[type=file] {
	display: none;
}

.upload {
	border: solid 1px #909090;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}

.cambioimmagine #buttons input,
.cambiopassword #button_pass input {
	cursor: pointer;
	border: solid 2px #909090;
	border-radius: 3px;
	height: 40px;
	width: 80px;
}

.immagine_modal {
	width: 20px;
	height: 20px;
}

/* Password Reset */

.cambiopassword {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	max-width: 300px;
}

#button_pass {
	margin-bottom: 20px;
}

.cambiopassword #button_pass input {
	width: 120px;
}

.cambiopassword>form label {
	font-weight: 700;
	font-size: 13px;
	margin-top: 10px;
}

.cambiopassword #vecchiapass, .cambiopassword #nuovapass {
	font-size: 16px;
	width: 100%;
	border-bottom: 2px solid #ccc;
	margin-top: 4px;
	color: #666;
}


/* Partecipanti Modale*/

.modal__content ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.modal__content ul li{
	text-align: center;
}

.modal__content ul li img{
	margin: 0;
}

.modal__content ul li a {
    text-decoration: none;
    font-weight: 700;
    text-decoration-color: black;
	color: black;
}
